body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    background-color: blue; color: white; text-align: center; font-family: sans-serif
}

.fonts {
    text-align: center;
}

#Verdana {
    font-family: Verdana, sans-serif;
}

#Trebuchet {
    font-family: "Trebuchet MS", sans-serif;
}

#ArialBlack {
    font-family: "Arial Black", sans-serif;
}

#Arial {
    font-family: Arial, sans-serif;
}

#Tahoma {
    font-family: Tahoma, sans-serif;
}






